<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Tweet</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>

    <h2>Create a Tweet</h2>

    <div class="create-container">
        <form method="post" action="/tweets">
            <input type="text" name="username" placeholder="Enter your name" required />

            <textarea name="post" placeholder="What's happening?" required></textarea>

            <button>Tweet</button>
        </form>
    </div>

</body>
</html>
